@media sceen and (max-width:1200px)  {
    .quiz {
        width: 600px;
        min-height:40vh;
    }
}
@media screen and (max-width:1199px) {

}
@media screen and (max-width:991px) {

}
@media screen and (max-width:767px) {

}
@media screen and (max-width:575px) {
    body {
        height:100%
    }
    .quiz {
        width:100%;
        font-size:100%;
        height:30vh;
        min-height:35vh;
    }
    .quiz-questionCount {
        font-weight: bold;
        font-size:100%;
        position:absolute;
        left:150px;
        bottom:360px
    }
    .imgs img {
        width:64px;
        height: 64px;
        margin-right:20px;
    }
    .quiz-questions label {
        padding:10px 0px 10px 0px
}
    .quiz-question {
        margin-bottom: 5px
    }
    .btnNext {
        height:35px;
        line-height: 35px;
    }
}
@media screen and (max-height:670px) {
    .quiz {
        height: 60vh
    }
}