@media screen and (max-width:1441px) {
    body {
        overflow-x:hidden;
        overflow-y:hidden;
    }
    html {
        overflow-x:hidden;
        overflow-y:hidden;
    }
}
@media sceen and (max-width:1200px)  {
    .quiz {
        width: 600px;
        min-height:40vh;
    }
}
@media screen and (max-width:1199px) {

}
@media screen and (max-width:991px) {

}
@media screen and (max-width:767px) {

}
@media screen and (max-width:575px) {
    body {
        height:100%;
    }
    .quiz {
        font-size:100%;
        height:30vh;
        min-height:52vh;
        width:90%;
        padding:15px;
    }
    .quiz-questionCount {
        font-weight: bold;
        font-size:100%;
        position:absolute;
        left:150px;
        bottom:390px
    }
    .imgs img {
        width:64px;
        height: 64px;
        margin-right:20px;
    }
    .quiz-questions label {
        padding:10px 0px 10px 0px
}
    .quiz-question {
        margin-bottom: 5px
    }
    .btnNext {
        height:35px;
        line-height: 35px;
    }
    .contacts {
        width:100%;
        height:200px;
    }
    .contacts-container {
        flex-direction: column;
    }
}
@media screen and (max-height:861px) {
    html {
        overflow-y:auto;
    }
    body {
        overflow-y:auto;
    }
    .quiz {
        height: 40vh;
        position:relative;
    }
    .quiz-questionCount {
        font-weight: bold;
        font-size:100%;
        position:absolute;
        left:150px;
        top:5px
    }
    .list div {
        margin:15px 40px
    }
    .imgs img {
        width:80px;
        height:80px
    }
    .contacts {
        margin-top:210px;
    }
    .contacts a {
        font-size: 20px;
        position:relative;
        letter-spacing: 1.5px;
        padding:1px;
    }
    svg rect.telegram {
        width:160px;
        height: 100%;
        stroke:black;
        fill:transparent;
        stroke-width: 5px;
        margin:0;
        stroke-dasharray:13px 140px 25px 18px 25px 140px 25px;
        transition: 0.5s all;
    }
    a:hover rect.telegram {
        stroke-dasharray:165px 0px 42px 0px 162px 0px 42px 0px;
    }
    .contacts-container {
        align-items:center
    }
    svg rect.mail {
        stroke-dasharray:11px 240px 23px 18px 23px 240px 23px;
    }
    a:hover rect.mail {
        stroke-dasharray:262px 0px 42px 0px 262px 0px 42px;
    }
    
}
@media screen and (max-height:670px) {
    body {
        overflow-y:auto;
        
    }
    .quiz {
        height: 40vh;
        position:relative;
    }
    .list div {
        margin:15px 40px
    }
    .quiz {
        margin-top:40px
    }
    .contacts {
        margin-top:210px;
    }
    .contacts a {
        font-size: 20px;
        position:relative;
        letter-spacing: 1.5px;
        padding:1px;
    }
    svg rect.telegram {
        width:160px;
        height: 100%;
        stroke:black;
        fill:transparent;
        stroke-width: 5px;
        margin:0;
        stroke-dasharray:13px 140px 25px 18px 25px 140px 25px;
        transition: 0.5s all;
    }
    a:hover rect.telegram {
        stroke-dasharray:165px 0px 42px 0px 162px 0px 42px 0px;
    }
    .contacts-container {
        align-items:center
    }
    svg rect.mail {
        stroke-dasharray:11px 240px 23px 18px 23px 240px 23px;
    }
    a:hover rect.mail {
        stroke-dasharray:262px 0px 42px 0px 262px 0px 42px;
    }
}