@media screen and (max-width:1281px) {
    .quiz {
        height: 315px;
    }
    .contacts p.mail svg {
        width: 322px;
    }
    svg rect.mail {
        stroke-dasharray:11px 300px 21px 20px 21px 300px 21px 20px;
    }
}
@media screen and (max-width:1200px)  {
    .quiz {
        width: 600px;
        min-height:40vh;
    }
}
@media screen and (max-width:1025px) {
    body,html {
        height: 800px;
    }
    .quiz {
        height: 310px;
    }
    .contacts {
        height: 160px;
    }
    .contacts p.mail svg {
        width: 322px;
    }
    svg rect.mail {
        stroke-dasharray:11px 300px 21px 20px 21px 300px 21px 20px;
    }
}
@media screen and (max-width:914px) {
    .quiz {
        min-height: 25vh;
        height: 25vh;
        margin:100px auto;
    }
    .contacts {
        margin:80px auto;
        height: 140px;
    }
    .contacts p.mail {
        width:322px;
    }
    svg rect.mail {
        stroke-dasharray:11px 300px 21px 20px 21px 300px 21px 20px;
    }
}
@media screen and (max-width:821px) {
    .quiz {
        margin-top:120px;
        margin-bottom:120px;
        height:350px;
    }
    .contacts {
        margin-top:70px;
        height:120px;
    }
    .contacts p.mail {
        width:322px;
    }
    svg rect.mail {
        stroke-dasharray:11px 300px 21px 20px 21px 300px 21px 20px;
        width:322px;
    }
    svg rect.mail {
        width:322px;
    }
}

@media screen and (max-width:575px) {
    body {
        height:100%;
    }
    .quiz {
        font-size:100%;
        height:30vh;
        min-height:52vh;
        width:90%;
        padding:15px;
    }
    .quiz-questionCount {
        font-weight: bold;
        font-size:100%;
        position:absolute;
        top:0;
    }
    .imgs img {
        width:64px;
        height: 64px;
        margin-right:20px;
    }
    .quiz-questions label {
        padding:10px 0px 10px 0px
}
    .quiz-question {
        margin-bottom: 5px
    }
    .btnNext {
        height:35px;
        line-height: 35px;
    }
    .contacts {
        width:100%;
        height:200px;
    }
    .contacts-container {
        flex-direction: column;
    }
}
@media screen and (max-width:541px) {
    body,html {
        overflow-y:auto;
        height:1000px
    }
    .quiz {
        margin:100px auto;
    }
    .contacts {
        height:140px;
        min-height: 140px;
    }
    .contacts p.telegram {
        width:200px;
        margin:5px auto;
    }
    .contacts p.mail {
        width:322px;
        margin:5px auto;
    }
    .imgs img {
        width:80px;
        height: 80px;
    };
    svg rect.telegram {
        width:200px;
    }
}
@media screen and (max-width:415px) {
    body,html {
        overflow-y:hidden;
    }
    .quiz {
        height:350px;
        min-height: 300px;
        margin-top:80px;
        margin-bottom: 80px;
    }
    .contacts {
        height: 150px;
        min-height: 145px;
        margin-bottom: 75px;
    }
    .quiz-questionCount {
        top:0;
    }
    .contacts p.telegram {
        margin:10px auto;
    }
    .contacts p.mail {
        margin:10px auto;
    }
    p.telegram {
        width:200px;
        height:30px;
    }
    .contacts p.mail {
        width: 320px;
    }
    svg rect.mail {
        stroke-dasharray:10px 300px 20px 20px 20px 300px 20px 20px ;
    }
}
@media screen and (max-width:376px) {
    body,html {
        overflow-y:hidden;
    }
    .quiz {
        height:370px;
        position:relative;
        margin:0 auto;
    }
    .list div {
        margin:15px 40px
    }
    .contacts {
        margin-top: 80px
    }
    .contacts a {
        font-size: 20px;
        letter-spacing: 1.5px;
        padding:1px;
    }
    .contacts {
        height:170px;
    }
    p.telegram {
        margin-bottom: 10px;
    }
    .contact {
        height:140px;
        margin-top:190px
    }
    .contacts-container p.mail {
        margin-top:15px
    }
    .contacts #telegram {
        width:180px;
    }
    .contacts p.mail {
        margin:10px auto;
        width:260px;
    }
    .contacts p.mail svg {
        width:262px;
    }
    svg rect.telegram {
        stroke-dasharray:11px 160px 22px 20px 22px 160px 21px 20px;
    }
    a:hover rect.telegram {
        stroke-dasharray:202px 0px 42px 0px 202px 0px 42px 0px ;
    }
    svg rect.mail {
        stroke-dasharray:11px 240px 22px 20px 22px 240px 22px 20px ;
    }
    a:hover rect.mail {
        stroke-dasharray: 262px 0px 42px 0px 262px 0px 42px;
    }
}

@media screen and (max-width:321px) {
    html {
        overflow-y:hidden;
    }
    body {
        overflow-y: hidden;
    }
    body .quiz {
        height: 40vh;
    }
    .contacts #telegram {
        width:180px
    }
    .contacts a {
        font-size: 20px;
        position:relative;
        letter-spacing: 1.5px;
        padding:1px;
    }
    .contacts p .telegram {
        width:182px;
        margin:0;
    }
    svg rect.telegram {
        stroke-dasharray:11px 160px 22px 20px 22px 160px 21px 20px;
    }
    a:hover rect.telegram {
        stroke-dasharray:202px 0px 42px 0px 202px 0px 42px 0px ;
    }
    svg rect.mail {
        stroke-dasharray:11px 240px 21px 20px 21px 240px 21px 20px ;
    }
    a:hover rect.mail {
        stroke-dasharray: 262px 0px 42px 0px 262px 0px 42px;
    }
}
@media screen and (max-width:311px) {
    body,html {
        overflow-y:auto;
        height: 700px;
    }
    body .quiz {
        min-height: 300px;
        margin-top:50px;
    }
    .contacts {
        margin-top:150px
    }
}
@media screen and (max-width:281px) {
    body,html {
        overflow-y:auto;
        height:740px;
    }
    body .quiz {
        min-height:380px;
        margin:40px auto;
    }
    .contacts {
       height: 160px;
       margin:40px auto
    }
    .contacts a#mail {
        font-size: 19px;
    }
    .contacts p.mail a{
        width: 242px;
    }
    .contacts #mail svg {
        width: 244px;
    }
    .contacts svg rect.mail {
        width:244px
    }
    svg rect.mail {
        stroke-dasharray:12px 220px 23px 20px 23px 220px 23px 20px;
    }
}
