* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}
.quiz {
	position: relative;
	padding: 30px 30px 30px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	max-width: 95vw;
	overflow: hidden;
    height:40vh;
	min-height: 40vh;
}
body {
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	background-color: #4254ea;
    background: linear-gradient(45deg, #4254ea 0%, #FF5ACD 50%, #FBDA61 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	height: 100vh;
}
.quiz-questions,
.quiz-questionCount {
    margin-bottom:10px
}
.quiz-questionCount {
    color:#3F76D4;
}
.quiz-question {
    font-size:20px;
    font-weight: bold;
    margin-bottom:20px;
}
.quiz-answers {
    margin:0;
    padding: 0;
    list-style:none;
}
.quiz-questions label {
    cursor: pointer;
	width: 100%;
    display: block;
	padding: 1em 0.5em;
}
.quiz-questions label:hover {
    background-color:antiquewhite;
}
.title {
    text-align:center;
    color:#4ED7F0
}
.btnNext:hover {
    background-color:#4965D6;
    transform:scale(1.1)
}
.quiz-question {
	text-align:center;

}
.btnNext,
.restart {
    color:#fff;
    width:100%;
    cursor:pointer;
    border:none;
    font-size:18px;
    position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 55px;
	line-height: 65px;
    background-color:#19AED6;
    transition:all 0.3s ease
}
.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: bold;
}
.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}
